@charset "UTF-8";

@font-face {
  font-family: "iconbasic";
  src:url("../fonts/iconbasic.eot");
  src:url("../fonts/iconbasic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/iconbasic.woff") format("woff"),
    url("../fonts/iconbasic.ttf") format("truetype"),
    url("../fonts/iconbasic.svg#iconbasic") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iconbasic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconbasic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yt:before {
  content: "\61";
}
.icon-mail:before {
  content: "\62";
}
.icon-fb:before {
  content: "\63";
}
.icon-gps:before {
  content: "\64";
}
.icon-cel:before {
  content: "\65";
}
.icon-wp:before {
  content: "\66";
}
.icon-menu:before {
  content: "\67";
}
.icon-fijo:before {
  content: "\68";
}
